@import 'normalize.css';

:root {
    --primary: rgba(254, 44, 85, 1.0);
    --color-black: #000;
    --color-text: #333;
    --color-white: #fff;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Arial','Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--color-text);    
}

button, input , [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--color-text);
    text-decoration: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 4px 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}